// PlantListPage
.PlantListPage {
  padding-bottom: 100px;

  // PlantList
  .PlantList {
    text-align: center;
    min-height: 80vh;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

  }

}


// PlantListItem

.MyPlantListItem {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  background-color: #DEF5E5;
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 10px gray;

  .img__container {
    position: relative;
    width: 30vw;

    .img-plant {
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    .sunlight__img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .content__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;

    .content__name {
      margin: 0;
    }

    .content__species {
      margin: 0;
    }
  }

}

// PlantDetail
.PlantDetail {
  padding-bottom: 100px;

  .detail-image-div {
    position: relative;
    height: 400px;
    
    img {
      width: 100%;
      height: 100%;
    }

    .plant__delete {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
    .plant__edit {
      position: absolute;
      bottom: 20px;
      right: 64px;
    }
  }
  .detail__content {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;




    .detail-top {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .top__img {
        min-width: 33%;
        max-width: 33%;
      }
  
      .top__title {
        text-align: center;
        min-width: 33%;
        max-width: 33%;
        color: gray;
        font-weight: bold;
      }
  
      .top__button {
        text-align: center;
        min-width: 33%;
        max-width: 33%;
        height: 40px;
  
        button {
          height: 100%;
          background-color: #87DEC4;
          color: white;
          border-radius: 24px;
          border: none;
        }
      }
      
    }
  }


  .detail-name {
    text-align: center;
    margin-top: 0;
  }

  .detail-content {
    background-color: #DEF5E5;
    text-align: center;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 16px;

    hr {
      border: 1px solid #87DEC4;
    }
  }

  .detail-bottom {
    background-color: #DEF5E5;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;

    .detail-bottom-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 80px;

      p {
        margin-top: 0;
      }

      .detail-bottom-item-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background-color: #87DEC4;
        color: white;
        border-radius: 50px;
      }
    }
  }

  .content__diary--button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: #30C7A4;
    border-radius: 16px;

    span h2 {
      margin: 0;
    }
  }
}