.StartPage {
  text-align: center;
  height: 100vh;
  background-image: url("../../assets/start/start_background_tulip.png");
  background-repeat: no-repeat;
  background-size: cover;


  .start-content {
    height: 100%;


    .start__logo {
      margin-top: 10vh;
    }

    .start__login {
      margin-top: 40vh;
      cursor: pointer;
    }
  }


}