.Register {
  margin-top: 0;
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;

  .register__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 16px;

    .register__header__back {
      width: 33%;
    }

    .register__header__title {
      width: 33%;
      margin: 0;
      text-align: center;
    }

    .register__header__regist {
      width: 33%;
      margin: 0;
      text-align: end;
    }
    
  }

  .RegisterCamera {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    
    .camera__title {
      min-width: 80vw;
      text-align: center;
      position: absolute;
      margin: 0;
      bottom: 0;
      left: calc(50% - 40vw);
      color: white;
      text-shadow: 1px 1px black;
    }

    .camera__container {
      height: 40vh;

      .camera__screen {
        width: 100%;
        height: 100%;

      }

    }

    .camera-buttons {
      display: flex;
      justify-content: space-around;
      
      .camera-button {

          background-color: #30C7A4;
          color: #fff;
          border: none;
          border-radius: 25px;
          padding: 10px 20px;
          font-size: 24px;
          cursor: pointer;
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s;

          width: 25%;
      }

    }

  }

  .RegisterController {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;

    .controller__up {
      height: 12vh;
      text-align: center;
    }

    .controller__mid {
      height: 12vh;

      display: flex;
    }

    .controller__down {
      height: 12vh;
      text-align: center;
    }

  }

}