.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;

  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;

    .navbar-icon {
      width: 50%;
      height: 50%;
      color: #30C7A4;
    }

    p {
      color: #006951;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

}