.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  // align-items: flex-end;
}

.modalContent {
  width: 100%;
  // height: 200px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  background-color: white;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  margin-top: 20px;
  animation: slideUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

// .modal-background {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
// }
.writeTitle {
  display:flex;
 
  font-size: 20px;
}

.pageTitle {
  display:flex;
  justify-content: center;
  font-size: 20px;
}

.titlestyle {
  width: 100%;
  height: 40%;
  /* padding: 10; */
  /* margin-inline: 20% ; */
  /* border: "1px solid rgba(193,181,169,1)"; */
  border-color: rgba(193,181,169,0.3);
  /* border-radius: 5; */
  font-size: 16;
}


.margin {
  margin-inline: 20%;
}
.contentstyle {
  width: 100%;
  height: 100px;
  /* padding: 10; */
  /* margin-inline: 20% ; */
  /* border: "1px solid rgba(193,181,169,1)"; */
  border-color: rgba(193,181,169,0.3);
  /* border-radius: 5; */
  font-size: 16;
}

.note {
  display:flex;
  justify-content: center;
  font-size: 20px;
}

.note__textarea {
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  // font-weight: 100;
  resize: none;
}

.note__line {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

.singleLineInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid #022a17;
  outline: none;
  font-size: 16px;
  padding: 5px 0;
  margin: 10px 0;
  background-color: transparent;
}

.customCheckbox input[type='checkbox'] {
  transform: scale(1.5);
  
}

.registerButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.registerButton:hover {
  background-color: #0056b3;
  color: #fff;
}

.controller {
  position: absolute;
  top: 65vh;
  // height: 20vh;
  /* 추가 스타일 */
  width: 100%;
  // background-color: #f0f0f0;
  margin: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}